// Headings
$h1 : 40px;
$h2 : 30px;
$h3 : 25px;
$h4 : 20px;
$h5 : 16px;
$h6 : 14px;

$header--bg: #d8262e;

$menu--text-color: #fff;
$menu--bbotom-color: #d8262e;
$menu--bbotom-color-hover: #fff;
$menu--text-hover: #820107;
$menu--sub-bg: #d8262e;

$footer--bg: #d8262e;
$footer--text-color: #fff;

// Theme Colors
$red: #da251c;
$blue: #044984;
$black: #363636;
$light-blue: #f0f5f9;

// Buttons
$btn-xs-padding : 6px 16px;
$btn-sm-padding : 10px;
$btn-default-padding : 10px;
$btn-large-padding : 19px 15px;

$btn-xs-font--size: 10px;
$btn-sm-font--size: 12px;
$btn-default-font--size: 14px;
$btn-large-font--size: 16px;

$btn--border-color: #d8262e;
$btn--bg: #d8262e;
$btn--bg-hover: #ffffff;

// Accordion
$accor--border-radius: 5px;
$accor--padding: 13px 19px;
$accor--text-color: #fff;
$accor--head-bg: #d8262e;

$accor--head-bg2: #333333;
$accor--head-bg2-active: #d8262e;
$accor--icon-color: #d8262e;
$accor--icon-bg: #d8262e;
$accor--icon-bg-active: #252b3f;

// Table
$table--border-collapse: collapse;
$table--border-separate: separate;

$table--head-bg: #cfd8dc;
$table--body-bg: #f0f0f0;

$table--cell-padding: 10px;

// Tabs
$tab--color: #fff;
$tab--bg: #263238;

$tab--hover-color: #fff;
$tab--hover-bg: #37474f;

$tab--active-color: #fff;
$tab--active-bg: #37474f;
